<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tml.mapper.TypeMapper">
    <insert id="insert">
        insert into tbl_dictionary_type values(
            #{code},
            #{name},
            #{description}
        )
    </insert>

    <delete id="delete">
        delete from tbl_dictionary_type where code in
        <foreach collection="array" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </delete>

    <update id="update">
        update tbl_dictionary_type
        set
            name=#{name},
            description=#{description}
        where code=#{code}
    </update>

    <select id="get" resultType="type">
        select * from tbl_dictionary_type where code=#{code}
    </select>
    <select id="getAll" resultType="type">
        select * from tbl_dictionary_type
    </select>
</mapper>